body {
	padding: 2rem 0 0;
}

section {
	min-height: 72vh
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header ul li {
	display: inline;
	margin-right: 10px;
}

a {
	text-decoration: none;
}

textarea {
	resize: none;
}

pre {
	font-family: inherit;
}

.custom-container {
	max-width: 60rem !important;
	margin: 0 auto !important;
}

