<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sboard.board.reply.mapper.ReplyMapper">

  <!-- Result Mapping -->
  <resultMap id="ReplyResultMap" type="Reply">
    <result property="replyNo" column="r_no"/>
    <result property="boardNo" column="b_no"/>
    <result property="memberId" column="m_id"/>
    <result property="replyBody" column="r_body"/>
    <result property="replyDate" column="r_date"/>
  </resultMap>

  <select id="get" parameterType="int" resultMap="ReplyResultMap">
    SELECT r_no, b_no, m_id, r_body, r_date
    FROM tb_reply
    WHERE r_no = #{replyNo};
  </select>

  <select id="getAllByBoardNo" parameterType="int" resultMap="ReplyResultMap">
    SELECT r_no, b_no, m_id, r_body, r_date
    FROM tb_reply
    WHERE b_no = #{boardNo};
  </select>

  <select id="getLastIndex" resultType="int">
    SELECT COALESCE(MAX(r_no) + 1, 1)
    FROM tb_reply;
  </select>

  <insert id="insert" parameterType="Reply">
    INSERT INTO tb_reply(r_no, b_no, m_id, r_body)
    VALUES (#{replyNo}, #{boardNo}, #{memberId}, #{replyBody});
  </insert>

  <delete id="delete" parameterType="int">
    DELETE
    FROM tb_reply
    WHERE r_no = #{replyNo};
  </delete>

  <select id="deleteAllByBoardNo" parameterType="int">
    DELETE
    FROM tb_reply
    WHERE b_no = #{boardNo};
  </select>

</mapper>
